.contest {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: white;
    border-radius: 8px;
    height: 630px;
    position: relative;
    overflow: hidden;

    .input-section {
        display: flex;
        flex-direction: row;
        gap: 50px 30px;
        flex-wrap: wrap;
        justify-content: flex-start;

        div {
            flex-basis: 30%;
            font-size: 14px;

            input {
                height: 40px;
            }

            input[type="time"] {
                padding: 1rem 1rem;
                border: 1px solid rgba(0, 0, 0, 0.38);
                border-radius: 4px;

                &:hover {
                    border: 1px solid black;
                }

                &:focus {
                    outline: none;
                    border: 1px solid #3f51b5 !important;
                    box-shadow: inset 0 0 0 1px #3f51b5 !important;
                }
            }
        }

        div:nth-of-type(8) {
            flex-basis: 64%;
        }

    }

    .btn {
        display: flex;
        gap: 20px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 100%;

        button {
            color: white;
            padding: 10px 16px;
            border-radius: 5px;
            transition: .2s ease-in-out;

        }

        button:nth-of-type(1) {
            background: #2C2C2C;

            &:hover {
                background: #504f4f
            }

        }

        button:nth-of-type(2) {
            color: #e74f26;
            background-color: white;
            border: 1px solid #e74f26;

            &:hover {
                color: white;
                background-color: #e74f26;
            }
        }

        button:nth-of-type(3) {
            background: #E74F26;

            &:hover {
                background: #b83d1b;
            }
        }

    }
}