.contest-navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: center;

    a {
        color: #2A2A2A;
        border-bottom: 4px solid transparent;
        transition: .2s ease-in-out;

        &:hover {
            color: #e74f26;
        }
    }

    .active {
        color: #e74f26;
        border-bottom: 4px solid #e74f26;
    }
}